In [1]:
import pandas as pd
import numpy as np
print('ok')

ok

In [14]:
#读入
spacialMatrix='空间矩阵.xlsx'#
flowData='RD.xlsx'
adjacent_table = pd.read_excel(r'{}'.format(spacialMatrix))#near.xlsx
flow = pd.read_excel(r'{}'.format(flowData))
print('ok')
print(flow.shape[0])
W_OR=pd.DataFrame(index=(i for i in range(1,flow.shape[0]+1)),columns=([i for i in range(1,flow.shape[0]+1)]))

ok
252

In [3]:
adjacent_table.head()

,淮安市,南京市,扬州市,镇江市,常州市,泰州市,无锡市,苏州市,南通市,徐州市,...,呼伦贝尔市,兴安盟,齐齐哈尔市,大庆市,黑河市,绥化市,哈尔滨市,伊春市,鹤岗市,佳木斯市
淮安市,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
南京市,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
扬州市,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
镇江市,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
常州市,NaN,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

# df[df.num.str.contains('o')]
# adjacent_table.loc['阿坝藏族羌族自治州']
adjacent_table.loc[adjacent_table.index.str.contains('淮安')].T.dropna().T

     扬州市  宿迁市  连云港市  盐城市  滁州市
淮安市  1.0  1.0   1.0  1.0  1.0

In [5]:
# adjacent_table.loc['淮安市']
# destinationFlow=adjacent_table.loc[adjacent_table.index.str.contains('淮安')]
# columns=destinationFlow.columns
df= pd.DataFrame(columns=( 'ID','转出地','转入地','流量'))
# destinationFlow.isnull().stack()[lambda x: x].index.tolist()  
df+=flow.loc[flow['转出地'].str.contains('徐州') & flow['转入地'].str.contains('阿坝')]
# flow['转入地']=='阿坝藏族羌族自治州'
flow['转入地'].isin(['雅安市', '成都市', '德阳市', '绵阳市', '陇南市']).head()

0    False
1    False
2    False
3    False
4    False
Name: 转入地, dtype: bool

,1,2,3,4,5,6,7,8,9,10,...,652,653,654,655,656,657,658,659,660,661
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:


def get_AdjacentFlow(origin,destination):
    ID=flow[flow['转出地'].str.contains(origin) & flow['转入地'].str.contains(destination)]['ID']
    destinationFlow=adjacent_table.loc[adjacent_table.index.str.contains(destination)]
    if(destinationFlow.empty):
        print('it is empty')
    else:
        spacialDes=destinationFlow.T.dropna().T
        netAdjacent1=flow[flow['转出地'].str.contains(origin) & flow['转入地'].isin(spacialDes.columns.tolist())]
        originFlow=adjacent_table.loc[adjacent_table.index.str.contains(origin)]
        adjacentOri=destinationFlow.T.dropna().T
        spacialOri=adjacent_table.loc[adjacent_table.index.str.contains(origin)].T.dropna().T
        netAdjacent2=flow[flow['转出地'].isin(spacialOri.columns.tolist()) & flow['转入地'].str.contains(destination)]
        netAdjacentList=pd.concat([netAdjacent1,netAdjacent2],axis=0,join='inner')['ID'].tolist()
        print(netAdjacentList)
        for j in netAdjacentList:
            W_OR.loc[ID,j]=1
        
# df.loc['20130101','B']
get_AdjacentFlow('南京市','上海市')

[66, 128, 250]

In [8]:
flow.head()

   ID  转出地  转入地  流量
0   1  南京市  上海市   5
1   2  南京市  北京市   3
2   3  南京市  南通市   1
3   4  南京市  天津市   1
4   5  南京市  宁波市   1

In [20]:
def get_AdjacentFlow(origin,destination):
    ID=flow[flow['转出地'].str.contains(origin) & flow['转入地'].str.contains(destination)]['ID']
    destinationFlow=adjacent_table.loc[adjacent_table.index.str.contains(destination)]
    if(destinationFlow.empty):
        print('it is empty')
    else:
        spacialDes=destinationFlow.T.dropna().T
        netAdjacent1=flow[flow['转出地'].str.contains(origin) & flow['转入地'].isin(spacialDes.columns.tolist())]
        originFlow=adjacent_table.loc[adjacent_table.index.str.contains(origin)]
        adjacentOri=destinationFlow.T.dropna().T
        spacialOri=adjacent_table.loc[adjacent_table.index.str.contains(origin)].T.dropna().T
        netAdjacent2=flow[flow['转出地'].isin(spacialOri.columns.tolist()) & flow['转入地'].str.contains(destination)]
        netAdjacentList=pd.concat([netAdjacent1,netAdjacent2],axis=0,join='inner')['ID'].tolist()
        print(netAdjacentList)
        for j in netAdjacentList:
            W_OR.loc[ID,j]=1

spacialMatrix='空间矩阵.xlsx'#
flowData='RD.xlsx'
adjacent_table = pd.read_excel(r'{}'.format(spacialMatrix))#near.xlsx
flow = pd.read_excel(r'{}'.format(flowData))
print('ok')
print(flow.shape[0])
W_OR=pd.DataFrame(index=(i for i in range(1,flow.shape[0]+1)),columns=([i for i in range(1,flow.shape[0]+1)]))

for index, row in flow.iterrows():
    try:
        get_AdjacentFlow(row.转出地,row.转入地)
        continue
    except:
        print('出错了')
        print(row)
        
# W_OR.to_excel('{}-1.xlsx'.format(flowData[:flowData.find('.')]))

ok
252
[51]
[66, 128, 250]
[28, 32, 54]
[6]
[38, 132]
[4, 28, 252]
it is empty
[135]
[62, 74]
[22, 137]
[41, 60, 75, 139]
[]
[49, 61, 140]
[]
[]
[23, 64, 142]
[52, 57, 76, 80, 143]
[]
[]
[]
[]
[10, 149]
[16, 64]
it is empty
[68]
[30, 53, 57, 67, 70, 152]
[36, 49, 77]
[3, 6, 32]
[69, 72]
[26, 50, 70, 156]
[71, 157]
[3, 28, 54]
[62, 78, 158]
[49, 53, 57, 61, 77, 159]
[]
[27, 49, 66, 161]
[]
[5]
[45]
[46]
[11, 43]
[64, 165]
[41]
[167]
[39, 76]
[40]
[58, 168]
[50, 169]
[13, 27, 34, 36, 61, 77, 170]
[30, 48, 172]
[1, 175]
[17, 57, 67, 177]
[26, 34, 57, 61, 70, 178]
[3, 32]
[68]
[182]
[17, 26, 34, 52, 53, 67, 183]
[47, 184]
[72]
[11]
[13, 34, 49, 53, 70, 188]
[9, 33, 78]
[]
[16, 23, 42, 191]
[]
[2, 36, 195]
[26, 52, 57, 197]
[25, 55, 199]
[29, 72]
[26, 30, 53, 61, 201]
[31, 202]
[29, 59, 69, 203]
[204]
[9, 205]
[11]
[17, 45]
[27, 34, 49, 208]
[33, 62]
[213]
[17, 215]
[114]
[98]
[99, 117]
[]
[110]
[93, 101]
[97]
[]
[]
[91]
[90]
[]
[86, 101]
[]
[]
[99, 117]
[87, 102, 108]
[82]
[83, 96, 117]
[]
[86, 93, 116]
[97, 108, 114]
[]
[]
[]
[]
[]
[97, 102, 111]
[]
[85]
[108, 117]
[]
it is empty
[81, 102]
[]
[101]
[83, 96, 99, 111]
[]
[]
[218]
[123, 221]
[]
[121, 124, 225]
[123, 228]
[]
[238]
[]
[147, 195, 2]
[176, 185]
[207]
[211]
[154, 5]
[]
[154]
[173, 8]
[204]
[149, 155, 10]
[143, 159, 183, 208, 215]
[153, 11]
[170, 188, 13]
[168, 184]
[180, 191, 206, 16]
[138, 150, 177, 183, 194, 215, 17]
[154]
[209]
[151]
[128, 165, 181, 195]
[214]
[137, 22]
[143, 216]
[146, 152, 156, 197]
[151, 156, 178, 183, 197, 201, 26]
[139]
[132, 134, 144]
[137]
[151, 152, 172, 201, 30]
[192, 202, 31]
[33]
[138, 170, 178, 183, 188, 208, 34]
[]
[170, 181, 195, 36]
it is empty
[]
[]
[147, 181, 191, 206, 42]
[182, 210]
[216, 44]
[141, 184, 190, 217, 47]
[172, 176, 192, 48]
[140, 159, 161, 188, 208, 49]
[203]
[156, 169, 192, 50]
[135, 174, 198]
[173, 198]
[51]
[129, 169, 185]
[143, 183, 197, 212, 52]
[152, 159, 183, 188, 201, 53]
[]
[142]
[147, 161, 165, 195]
[166, 210, 56]
[138, 143, 152, 159, 177, 178, 197, 57]
[141, 168, 217, 58]
[129, 176, 213]
[196]
[]
[140, 159, 170, 178, 201, 61]
[204, 207]
[168]
[142, 165, 206, 64]
[157, 169, 172, 202]
[]
[143, 215]
[128, 147, 161, 181, 66]
[186]
[151, 152, 177, 183, 67]
[173, 174]
[68]
[]
[152, 156, 178, 188, 70]
[157, 192, 71]
[171, 72]
[136, 189, 73]
[74]
[142, 165, 191]
[130, 189]
[138, 159, 170, 77]
[145]
[166, 182]
[131]
[177]
[185, 79]
[80]
[138, 143, 194, 80]
[150, 167]
[168, 184]
[243, 120]
[]
[]
[225, 235, 249, 121]
[]
[246]
[]
[221, 228, 231, 123]
[233]
[248]
[225, 231, 243, 124]
[]
[]
[225, 228, 238]
[]
[226, 242]
[]
[221]
[]
[]
[231, 245, 126]
[]
[]
[]
[233]
[218, 228]
[]
[238]
[223]
[]
[227]
[221]
[2]
[]
[6]

In [25]:
W_OR.head()

,1,2,3,4,5,6,7,8,9,10,...,243,244,245,246,247,248,249,250,251,252
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
print(W_OR.dropna(axis=0,how='all').dropna(axis=1,how='all').fillna(value=0).head())
W_OR.dropna(axis=0,how='all').dropna(axis=1,how='all').fillna(value=0).to_excel('删除测试.xlsx')

   1    2    3    4    5    6    8    9    10   11  ...   235  238  242  243  \
1    0    0    0    0    0    0    0    0    0    0 ...     0    0    0    0
2    0    0    0    0    0    0    0    0    0    0 ...     0    0    0    0
3    0    0    0    0    0    0    0    0    0    0 ...     0    0    0    0
4    0    0    0    0    0    1    0    0    0    0 ...     0    0    0    0
5    0    0    0    0    0    0    0    0    0    0 ...     0    0    0    0

   245  246  248  249  250  252
1    0    0    0    0    0    0
2    0    0    0    0    1    0
3    0    0    0    0    0    0
4    0    0    0    0    0    0
5    0    0    0    0    0    0

[5 rows x 192 columns]